@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans:400,700&subset=cyrillic,cyrillic-ext');

/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#4db146;
$color4:#5d645d;
$color5:#d6e6d4;
$color6:#f5faf5;
$color7:#389931;
$color8:#9eaa9c;



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	font-family: 'Open Sans', sans-serif;
	@include flexbox;
	@include font-size(1.6);
	border-top: 3px solid $color3;
	color: $color4;
	flex-flow: column;
	font-display: swap;
	height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}

.ptsans{
	font-family: 'PT Sans', sans-serif;

}

.desaturate {
	filter: grayscale(100%);
}

*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

.flexbox{
	@include flexbox;
}

.space-between{
	justify-content: space-between;
}

.space-around{
	justify-content: space-around;
}

.flex-start{
	justify-content: flex-start;
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{line-height: 1.6;}
a{
	color: $color4;
	text-decoration-skip: ink;
}
h1{
	@include font-size(3.6);
	text-transform: uppercase;
	border-left: 3px solid $color3;
	padding-left: 2rem;
}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

header{
	text-align: center;
	.title{
		display: inline-block;
		position: relative;
		margin: 6.5rem 0 4.8rem; 
		&:after{
			@extend .before;
			border-top: 1px solid $color5;
			left: 50%;
			margin-left: -32px;
			width: 65px;
			bottom: -15px;
		}
	}
}

.bgcolor{
	background-color: $color6;
}

*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


section{
	padding-bottom: 6.5rem;
}


/* =header
---------------------------*/
.header{
	padding: 2.6rem 0;
	&__logo{

	}
	&__nav{
		flex-grow: 1;
	}

	&__lang{
		margin-left: 4.5rem;
		text-transform: uppercase;
		@include font-size(1.4);

		.jq-selectbox{
		}


		.jq-selectbox{
			$w: 53px;
			$pl: 1.3rem;
			&__select{
				cursor: pointer;
				.jq-selectbox__select-text{
					background-color: $color2;
					border: 1px solid $color2;
					display: block;
					width: $w;
					height: $w;
					padding-top: 1.6rem;
					border-radius: 50%;
					text-align: left;
					padding-left: $pl;
				}
			}
			&__trigger{
				position: absolute;
				right: 11px;
				top: 24px;
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 5px solid #5d645d;				
			}

			&__dropdown{
				background-color: $color2;
				width: $w;
				border-radius: 0 0 $w $w;
				padding-bottom: .5rem;
				margin-top: -1.5rem;
				ul{
					li{
						cursor: pointer;
						margin: 1rem 0;
						padding-left: $pl;
						text-align: left;
						&.selected,
						&:hover{
							color: $color3;
						}

						&.sel{
							position: relative;
							&:after{
								@extend .before;
								@include sprite($icon-checkmark);
								right: 6px;
								top: 5px;
							}
						}
					}
				}
			}

			&.dropdown{
				.jq-selectbox{
					&__select{
						.jq-selectbox__select-text{
							color: $color3;
							border-radius: 50% 50% 0 0;
						}
					}
					&__trigger{
						border-top-color: $color3;
					}
				}
			}
		}
	}

	.flexbox{
		align-items: center;
	}
}

.mainnav{
	margin-left: 9rem;
	ul{
		display: flex;

		li{
			margin-left: 8.2rem;
			&:first-child{
				margin-left: 0;
			}
			a{
				$y: 12px;
				margin-top: $y;
				padding-bottom: $y;
				text-decoration: none;
				text-transform: uppercase;
				@include transition;
				&:hover{
					$color: $color3;
					color: $color;
				}
			}
		}
	}

	a {
	    position: relative;
	    display: block;
	    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
	}
	a::before {
	    content: '';
	    display: block;
	    position: absolute;
	    bottom: 3px;
	    left: 0;
	    height: 3px;
	    width: 100%;
	    background-color: $color3;
	    transform-origin: right top;
	    transform: scale(0, 1);
	    transition: color 0.1s,transform 0.2s ease-out;
	}
	a:active::before {
	    background-color: $color3;
	}
	a:hover::before, a:focus::before {
	    transform-origin: left top;
	    transform: scale(1, 1);
	}	
}
/* =/header
---------------------------*/



/* =contacts
---------------------------*/
.contacts{
	color: $color4;
	a{
		text-decoration: none;
	}
	&__adr,
	&__tel,
	&__mail
	{
		position: relative;
		&:before{
			@extend .before;
			left: -50px;
		}
	}

	&__adr{
		&:before{
			@include sprite($icon-pin);
			top: -2px;
		}
	}

	&__tel{
		&:before{
			@include sprite($icon-phone);
			top: -2px;
		}
		span{
			margin-right: 2.5rem;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	&__mail{
		&:before{
			@include sprite($icon-email);
			top: -5px;
		}
	}

}
/* =/contacts
---------------------------*/



/* =footer
---------------------------*/
footer{
	border-bottom: 3px solid $color3;
	padding: 4.5rem 0;
}
.footer{
	&__left{

	}
	&__right{
		text-align: right;
		flex-grow: 1;
	}
}
/* =/footer
---------------------------*/


.justifyleft {text-align:left !important; }
.justifyright {text-align:right !important; }
.justifycenter {text-align: center !important; }
.justifyfull {text-align:justify !important; }
 
img.justifyleft, table.justifyleft {float:left; margin-right:10px;margin-bottom:5px;}
img.justifyright, table.justifyright {float:right; margin-left:10px;margin-bottom:5px;}
img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.slider{
	@extend .ptsans;
	a{
		text-decoration: none;
	}
}