/* =structure
---------------------------*/
.structure{
	padding-bottom: 0;
	.container{
		position: relative;
	}
	&__box{
		margin-left: auto;
		margin-right: auto;
		min-height: 322px;
		position: relative;
		width: 890px;
		&-hover{
			.structure__center{
				border-color: $color3 !important;
			}
		}

		& > div:not(.structure__center){
			@extend .ptsans;
			height: 200px;
			position: absolute;
			width: 290px;
			a{
				@include font-size(1.4);
				@include transition;
				display: block;
				height: 100%;
				position: relative;
				text-decoration: none;
				z-index: 999;
				transform-origin: center center;
			}
			&:before,
			&:after{
				@extend .before;
			}

			&:after{
				@include transition-param;
				opacity: 0;
			}

			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}
	}
	&__center{
		$s: 258px;
		@include font-size(2.9);
		@include transition-param(border-color);
		align-items: center;
		background-color: $color6;
		border-radius: 50%;
		border: 3px solid $color2;
		color: $color3;
		display: flex;
		font-weight: bold;
		height: $s;
		justify-content: center;
		margin: 155px auto;
		text-align: center;
		width: $s;
		&:hover,
		&.hover{
			border-color: $color3;
		}
	}

	$x1: 20px;
	$y1: -96px;
	$x2: 0px;
	$y2: 208px;

	$w: 106px;

	&__tl,
	&__bl{
		&:hover{
			a{
				transform: scale(1.2) translateX(-8px);
			}
		}
	}

	&__tr,
	&__br{
		&:hover{
			a{
				transform: scale(1.2) translateX(10px);
			}
		}
	}

	&__tl{
		left: $x1;
		top: $y1;

		&:before,
		&:after{
			right: 19px;
			bottom: 71px;
		}
		&:before{
			@include sprite($icon-tl);
		}
		&:after{
			@include sprite($icon-tlh);
		}

		&:hover{
			&:after{
				opacity: 1;
			}
		}

		a{
			width: 253px;
			padding-right: 100px;
			padding-bottom: 50px;
		}

		p{
			padding-top: 6px;
			text-align: right;	
		}
	}
	&__tr{
		// padding-left: 20px;
		right: 0;
		text-align: left;
		top: -167px;
		width: 180px;
		a{
			padding-left: 120px;
			padding-top: 5px;
			width: 293px;
		}

		p{
			padding-top: 9px;
		}

		&:before,
		&:after{
			left: 0;
			bottom: 0;
		}
		&:before{
			@include sprite($icon-tr);
		}
		&:after{
			@include sprite($icon-trh);
		}
	}
	&__bl{
		left: 5px;
		top: $y2;
		a{
			padding-top: 71px;
			padding-right: 88px;
			width: 253px;
		}


		p{
			text-align: right;
		}

		&:before,
		&:after{
			right: 0;
			top: 0;
			// top: -70px;
		}
		&:before{
			@include sprite($icon-bl);
		}
		&:after{
			@include sprite($icon-blh);
		}
	}
	&__br{
		top: $y2;
		// padding-left: 125px;
		right: $x2;
		text-align: left;

		&:before,
		&:after{
			left: 0;
			top: 0;
		}

		a{
			padding-left: 123px;
			padding-top: 71px;
			width: 253px;
		}

		&:before{
			@include sprite($icon-br);
		}
		&:after{
			@include sprite($icon-brh);
		}		
	}


	// modal

	&__modal{
		background-color: $color6;
		height: 570px;
		left: 0;
		padding: 5rem 2.5rem;
		position: absolute;
		top: -170px;
		width: 100%;
		z-index: 9999;
		display: none;
		&-text{
			p{
				line-height: 1.75;				
			}
			@include font-size(1.4);
			margin-top: 2.6rem;
		}

		button.close{
			top: auto;
			bottom: 3rem;
			left: 50%;
		}
	}
}




/* =/structure
---------------------------*/


/* =production
---------------------------*/
.production{
	padding-bottom: 8rem;
	&__carousel{
		margin-top: 11rem;
	}
	div.owl{
		&-nav,
		&-dots{
			position: absolute;
		}
		&-nav{
			top: -113px;
			$w: 1260px;
			width: $w;
			left: 50%;
			margin-left: -$w/2;
			.owl-prev,
			.owl-next{
				transition: background .2s ease-out, border-color .2s ease-out;
				background: $color2;
				border: 9px solid $color2;
				&:before{
					@extend .before;
					@include sprite($icon-arrow-l-color);
					left: 9px;
					top: 16px;
				}
				&:hover{
					border-color: #d6e6d4;
					&:before{
						@include sprite($icon-arrow-l-white);						
					}
				}
			}

			.owl-prev{
				&:before{
					@include sprite($icon-arrow-l-color);
				}
			}
		}

		&-dots{
			top: -116px;
			width: 100%;
			text-align: center;
		}
	}
	&__item{
		display: flex;
		overflow: hidden;
		&-left{
			flex-basis: 35%;
			position: relative;
			img{
				vertical-align: top;
				position: absolute;
				right: 0;
				@include transition-param(transform, .3s);
			}
			&:hover{
				img{
					transform: translateX(963px);
				}
			}
		}
		&-right{
			padding-left: 3rem;
			width: 920px;
			text-align: justify;
			// position: relative;
			// z-index: 2;
		}

		&-top{
			display: flex;
			justify-content: space-between;
			padding: 3.5rem 0;
		}
		&-text{
			@include font-size(1.4);
			@extend .ptsans;
			min-height: 245px;
			overflow: hidden;
			text-overflow: ellipsis
		}
		&-link{
			align-items: center;
			background-color: $color2;
			border-radius: 2.9rem;
			color: $color3;
			@include font-size(1.4);
			display: flex;
			margin-top: 4rem;
			height: 5.8rem;
			padding: 0 2.5rem;
			position: relative;
			text-decoration: none;
			transition: background-color .2s ease-out, color .2s ease-out;
			z-index: 9999;
			&:hover{
				background-color: $color3;
				color: $color2;
			}
		}
	}
}
/* =production
---------------------------*/


/* =clients
---------------------------*/
.clients{
	@include font-size(1.4);
	position: relative;
	.addmsg{
		@include font-size(1.4);
		@include transition-param(background-color);
		background-color: $color3;
		border: none;
		color: $color2;
		display: block;
		$h: 5.8rem;
		border-radius: $h;
		cursor: pointer;
		height: $h;
		margin: 4.2rem auto 0;
		padding: 0 4rem;
		text-transform: uppercase;
		&:hover{
			background-color: $color7;
		}
	}

	&__pic{
		margin-left: 12px;
		margin-right: 12px;
		text-align: center;	
	}
	.text{
		padding-left: 10rem;
		padding-right: 10rem;
	}

	&__carousel{
		margin-top: 6.5rem;
	}

	.owl-dots{
		margin-top: 2.5rem;
	}
}

.clients,
.news{
	&__carousel{
		&:before,
		&:after{
			@extend .before;
			height: 100%;
			width: 410px;
			top: -50px;
			z-index: 2;
		}
		&:before{
			left: 0;
			@include gradient-horizontal(rgba(255,255,255,.95), rgba(255,255,255,0));
		}

		&:after{
			right: 0;
			@include gradient-horizontal(rgba(255,255,255,0), rgba(255,255,255,.95));
		}

		img{
			max-width: 100%;
		}
	}
}
/* =/clients
---------------------------*/


/* =news
---------------------------*/
.news{
	$r: 12px;
	$r2: 10px;
	padding-bottom: 5.8rem;
	&__carousel{
		.owl-nav{
			top: 178px;
		}
	}

	header{
		.title{
			margin-top: 5.8rem;
		}
	}

	.owl-carousel{
		margin-top: 1.6rem;
	}

	&__item{
	}
	&__link{
		display: inline-block;
		border: 3px solid rgba(255,255,255,0);
		border-radius: $r;
		text-decoration: none;
		@include transition;
		// text-align: center;
		&:hover{
			border-color: $color3;
			color: $color3;
			.news{
				&__datetime{
					color: $color3;
					time{
						&:before{
							filter: grayscale(0);
						}
					}
				}
				&__pic{
					&:after{
						opacity: 1;
					}
					&:before{
						transform: scale(1);
						opacity: 1;

					}
				}
			}
		}
	}

	&__pic{
		position: relative;
		img{
			border-radius: $r2 $r2 0 0;
			vertical-align: top;
		}
		&:before{
			@extend .before;
			@include transition;
			background: $color3;
			border-radius: 55px;
			color: $color2;
			content: "ПОДРОБНЕЙ";
			height: 55px;
			left: 50%;
			$w : 175px;
			margin-left: -$w/2;
			margin-top: -26px;
			padding: 1.8rem 4rem; 
			text-align: center;
			top: 0;
			top: 50%;
			width: $w;
			z-index: 999;
			opacity: 0;
			transform: scale(1.25);
		}
		&:after{
			@extend .before;
			@include transition;
			border-radius: $r2 $r2 0 0;
			background: rgba(255,255,255, .63);
			z-index: 99;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			opacity: 0;
		}
	}

	&__desc{
		background: $color2;
		border-radius: 0 0 $r2 $r2;
		padding:1.9rem 0 3rem;
		text-align: center;
		hr{
			width: 42px;
			border: none;
			border-top: 3px solid $color3;
			background: none;
		}
	}

	&__title{
		@include font-size(1.6);
		text-transform: uppercase;
		font-weight: normal;
		margin-top: 3.3rem;
		min-height: 7rem;
	}

	&__datetime{
		@include font-size(1.2);
		color: $color8;
		display: flex;
		justify-content: center;
		time{
			padding-left: 25px;
			position: relative;
			&:before{
				@extend .desaturate;
				@extend .before;
				@include sprite($icon-calendar);
				left: 0;
				top: 1px;
			}
		}
	}
}
/* =/news
---------------------------*/


#map{
	height: 600px;
	width: 100%;
}



.modal-email{
	@include rounded(1rem);
	background-color: $color6;
	border: 3px solid $color3;
	bottom: 16.5rem;
	display: none;
	left: 50%;
	margin-left: -270px;
	padding: 5.6rem 2rem 3.3rem;
	position: absolute;
	width: 535px;
	z-index: 9999;
	&:after{
		@extend .before;
		width: 27px;
		height: 15px;
		background: url(../images/form-arrow.png) no-repeat center center;
		bottom: -15px;
		left: 50%;
		margin-left: -14px;
	}
	form{
		padding-top: .5rem;
	}

	.modal-title{
		@include font-size(2.4);
		color: $color3;
		font-weight: normal;
		text-align: center;
	}
	.form-control{
		@include font-size(1.4);
		@include rounded(.5rem);
		@extend .ptsans;
		border: 3px solid $color2;
		color: $color1;
		height: 5rem;
		margin-top: 2.4rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		transition: border-color .2s;
		width: 100%;
		&:focus,
		&:active{
			border-color: $color3;
		}
		&.error{
			border-color: red;
		}
	}
	textarea.form-control{
		height: 17rem;
		padding-top: 1rem;
		resize: none;
	}

	.btn{
		margin-top: 3rem;
		width: 24rem;
	}
}

.modal-thank{
	$w: 668px;
	width: $w;
	margin-left: -$w/2 ;
}

.thank{
	text-align: center;
	padding: 2rem 0 4rem;
	@include font-size(2);
}

button.close{
	@include sprite($icon-close-modal);
	border: none;
	background-color: transparent;
	position: absolute;
	right: 17px;
	top: 19px;
	cursor: pointer;
	&:hover{
		@include sprite($icon-close-modal-hover);
	}
}

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(44,59,43,.3);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.btn{
	$h: 57px;
	height: $h;
	border-radius: $h;
	@include font-size(1.8);
	background-color: $color3;
	border: none;
	color: $color2;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 1.6rem 3.5rem;
	text-transform: uppercase;
	transition: opacity .2s;
	&:hover{
		opacity: .9;
	}
}


label.error{
	display: none !important;
}