/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 767px){
	.navbar-toggle{
		background-color: $color3;
		border: none;
		cursor: pointer;
		display: block;
		height: 70px;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 99;
		.icon-bar{
			background-color: $color2;
			display: block;
			height: 2px;
			margin: 8px auto;
			width: 30px;
		}
		&:hover{
			background-color: $color2;
			.icon-bar{
				background-color: $color3;
			}
		}
	}

	.show-sm{
		display: block;

	}
	.o-menu{
		.header{
			&__nav ul{
				display: block;
				padding-left: 15px;
				padding-right: 0;
				height: auto;
			}
		}
		.close-menu{
			display: block;
			transform: translate(0, 0);
		}
		#navbar{
			display: block;
			transform: translate(-15px, 0);
			z-index: 9999;
			.show-sm{
				@include font-size(1.5);
				padding-left: 3rem;
				a{
					color: $color2;
					display: block;
					margin: 1.8rem 0;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	.close-menu{
		@include transition;
		display: block;
		transform: translate(-320px, 0);	
		background: none;
		cursor: pointer;
		padding: 0;
		left: 215px;
		background-color: $color3;
		border: none;
		height: 70px;
		position: fixed;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 99;
	}


	#navbar{
		background-color: $color3;
		color: $color3;
		display: block;
		left: 0;
		margin-top: 0;
		position: fixed;
		top: 0;
		transform: translate(-305px, 0);
		transition: all .2s ease-out;
		width: 230px;
		text-align: left;
		.container{
			padding: 0;
		}
		a:before{
			display: none !important;
		}
		ul.nav-tabs{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 0;
			padding-left: 15px;
			margin-left: 0;
			text-align: left;
			& > li.active > a{
				text-decoration: underline;				
			}
			li{ // 1 level
				border-bottom: 1px solid #fff;
				a{
					border-bottom: none !important;
					color: $color2;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-decoration: none;
					text-transform: none;
					&:hover{
						color: #fff;
						text-decoration: underline;
					}
					&.active{
						text-decoration: underline;
					}
				}
				&.active,
				&:hover{
					a{
						background: none;
					}
					border-bottom: 1px solid #fff;
					color: #fff;
				}
			}
		}
	}
}