// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-l-color-name: 'icon-arrow-l-color';
$icon-arrow-l-color-x: 27px;
$icon-arrow-l-color-y: 31px;
$icon-arrow-l-color-offset-x: -27px;
$icon-arrow-l-color-offset-y: -31px;
$icon-arrow-l-color-width: 31px;
$icon-arrow-l-color-height: 21px;
$icon-arrow-l-color-total-width: 89px;
$icon-arrow-l-color-total-height: 85px;
$icon-arrow-l-color-image: '../images/sprite.png';
$icon-arrow-l-color: (27px, 31px, -27px, -31px, 31px, 21px, 89px, 85px, '../images/sprite.png', 'icon-arrow-l-color', );
$icon-arrow-l-white-name: 'icon-arrow-l-white';
$icon-arrow-l-white-x: 0px;
$icon-arrow-l-white-y: 64px;
$icon-arrow-l-white-offset-x: 0px;
$icon-arrow-l-white-offset-y: -64px;
$icon-arrow-l-white-width: 31px;
$icon-arrow-l-white-height: 21px;
$icon-arrow-l-white-total-width: 89px;
$icon-arrow-l-white-total-height: 85px;
$icon-arrow-l-white-image: '../images/sprite.png';
$icon-arrow-l-white: (0px, 64px, 0px, -64px, 31px, 21px, 89px, 85px, '../images/sprite.png', 'icon-arrow-l-white', );
$icon-arrow-left-name: 'icon-arrow-left';
$icon-arrow-left-x: 69px;
$icon-arrow-left-y: 0px;
$icon-arrow-left-offset-x: -69px;
$icon-arrow-left-offset-y: 0px;
$icon-arrow-left-width: 20px;
$icon-arrow-left-height: 34px;
$icon-arrow-left-total-width: 89px;
$icon-arrow-left-total-height: 85px;
$icon-arrow-left-image: '../images/sprite.png';
$icon-arrow-left: (69px, 0px, -69px, 0px, 20px, 34px, 89px, 85px, '../images/sprite.png', 'icon-arrow-left', );
$icon-calendar-name: 'icon-calendar';
$icon-calendar-x: 69px;
$icon-calendar-y: 34px;
$icon-calendar-offset-x: -69px;
$icon-calendar-offset-y: -34px;
$icon-calendar-width: 15px;
$icon-calendar-height: 15px;
$icon-calendar-total-width: 89px;
$icon-calendar-total-height: 85px;
$icon-calendar-image: '../images/sprite.png';
$icon-calendar: (69px, 34px, -69px, -34px, 15px, 15px, 89px, 85px, '../images/sprite.png', 'icon-calendar', );
$icon-checkmark-name: 'icon-checkmark';
$icon-checkmark-x: 27px;
$icon-checkmark-y: 52px;
$icon-checkmark-offset-x: -27px;
$icon-checkmark-offset-y: -52px;
$icon-checkmark-width: 12px;
$icon-checkmark-height: 10px;
$icon-checkmark-total-width: 89px;
$icon-checkmark-total-height: 85px;
$icon-checkmark-image: '../images/sprite.png';
$icon-checkmark: (27px, 52px, -27px, -52px, 12px, 10px, 89px, 85px, '../images/sprite.png', 'icon-checkmark', );
$icon-close-modal-hover-name: 'icon-close-modal-hover';
$icon-close-modal-hover-x: 69px;
$icon-close-modal-hover-y: 49px;
$icon-close-modal-hover-offset-x: -69px;
$icon-close-modal-hover-offset-y: -49px;
$icon-close-modal-hover-width: 15px;
$icon-close-modal-hover-height: 15px;
$icon-close-modal-hover-total-width: 89px;
$icon-close-modal-hover-total-height: 85px;
$icon-close-modal-hover-image: '../images/sprite.png';
$icon-close-modal-hover: (69px, 49px, -69px, -49px, 15px, 15px, 89px, 85px, '../images/sprite.png', 'icon-close-modal-hover', );
$icon-close-modal-name: 'icon-close-modal';
$icon-close-modal-x: 31px;
$icon-close-modal-y: 64px;
$icon-close-modal-offset-x: -31px;
$icon-close-modal-offset-y: -64px;
$icon-close-modal-width: 15px;
$icon-close-modal-height: 15px;
$icon-close-modal-total-width: 89px;
$icon-close-modal-total-height: 85px;
$icon-close-modal-image: '../images/sprite.png';
$icon-close-modal: (31px, 64px, -31px, -64px, 15px, 15px, 89px, 85px, '../images/sprite.png', 'icon-close-modal', );
$icon-email-name: 'icon-email';
$icon-email-x: 0px;
$icon-email-y: 0px;
$icon-email-offset-x: 0px;
$icon-email-offset-y: 0px;
$icon-email-width: 38px;
$icon-email-height: 31px;
$icon-email-total-width: 89px;
$icon-email-total-height: 85px;
$icon-email-image: '../images/sprite.png';
$icon-email: (0px, 0px, 0px, 0px, 38px, 31px, 89px, 85px, '../images/sprite.png', 'icon-email', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 38px;
$icon-phone-y: 0px;
$icon-phone-offset-x: -38px;
$icon-phone-offset-y: 0px;
$icon-phone-width: 31px;
$icon-phone-height: 30px;
$icon-phone-total-width: 89px;
$icon-phone-total-height: 85px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (38px, 0px, -38px, 0px, 31px, 30px, 89px, 85px, '../images/sprite.png', 'icon-phone', );
$icon-pin-name: 'icon-pin';
$icon-pin-x: 0px;
$icon-pin-y: 31px;
$icon-pin-offset-x: 0px;
$icon-pin-offset-y: -31px;
$icon-pin-width: 27px;
$icon-pin-height: 33px;
$icon-pin-total-width: 89px;
$icon-pin-total-height: 85px;
$icon-pin-image: '../images/sprite.png';
$icon-pin: (0px, 31px, 0px, -31px, 27px, 33px, 89px, 85px, '../images/sprite.png', 'icon-pin', );
$spritesheet-width: 89px;
$spritesheet-height: 85px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arrow-l-color, $icon-arrow-l-white, $icon-arrow-left, $icon-calendar, $icon-checkmark, $icon-close-modal-hover, $icon-close-modal, $icon-email, $icon-phone, $icon-pin, );
$spritesheet: (89px, 85px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
