@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans:400,700&subset=cyrillic,cyrillic-ext");
.container {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 730px; } }

@media (min-width: 992px) {
  .container {
    width: 940px; } }

@media (min-width: 1199px) {
  .container {
    width: 1140px; } }

@media (min-width: 1400px) {
  .container {
    width: 1260px; } }

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0; }

header, section, footer, aside, nav, article {
  display: block; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-size: 1.6rem;
  border-top: 3px solid #4db146;
  color: #5d645d;
  flex-flow: column;
  font-display: swap;
  height: 100vh; }

html, body {
  height: 100%; }

.ptsans, .structure__box > div:not(.structure__center), .production__item-text, .modal-email .form-control {
  font-family: 'PT Sans', sans-serif; }

.desaturate, .news__datetime time:before {
  filter: grayscale(100%); }

*:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.flex-start {
  justify-content: flex-start; }

.outerwrapper {
  -webkit-flex: 1;
  flex: 1; }

/*** standart classes *****/
p {
  line-height: 1.6; }

a {
  color: #5d645d;
  text-decoration-skip: ink; }

h1 {
  font-size: 36px;
  font-size: 3.6rem;
  text-transform: uppercase;
  border-left: 3px solid #4db146;
  padding-left: 2rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

header {
  text-align: center; }
  header .title {
    display: inline-block;
    position: relative;
    margin: 6.5rem 0 4.8rem; }
    header .title:after {
      border-top: 1px solid #d6e6d4;
      left: 50%;
      margin-left: -32px;
      width: 65px;
      bottom: -15px; }

.bgcolor {
  background-color: #f5faf5; }

*:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.tdn {
  text-decoration: none; }
  .tdn:hover {
    text-decoration: underline; }

.tdu {
  text-decoration: underline; }
  .tdu:hover {
    text-decoration: none; }

.before, header .title:after, .contacts__adr:before, .contacts__tel:before, .contacts__mail:before, .structure__box > div:not(.structure__center):before, .structure__box > div:not(.structure__center):after, .production div.owl-nav .owl-prev:before,
.production div.owl-nav .owl-next:before, .clients__carousel:before, .clients__carousel:after,
.news__carousel:before,
.news__carousel:after, .news__pic:before, .news__pic:after, .news__datetime time:before, .modal-email:after {
  content: "";
  display: block;
  position: absolute; }

.form-control {
  border: 1px solid #4db146;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px; }
  .form-control:focus, .form-control:active {
    border-color: #d6e6d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3); }

section {
  padding-bottom: 6.5rem; }

/* =header
---------------------------*/
.header {
  padding: 2.6rem 0; }
  .header__nav {
    flex-grow: 1; }
  .header__lang {
    margin-left: 4.5rem;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem; }
    .header__lang .jq-selectbox__select {
      cursor: pointer; }
      .header__lang .jq-selectbox__select .jq-selectbox__select-text {
        background-color: #fff;
        border: 1px solid #fff;
        display: block;
        width: 53px;
        height: 53px;
        padding-top: 1.6rem;
        border-radius: 50%;
        text-align: left;
        padding-left: 1.3rem; }
    .header__lang .jq-selectbox__trigger {
      position: absolute;
      right: 11px;
      top: 24px;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 5px solid #5d645d; }
  .header .flexbox {
    align-items: center; }

.mainnav {
  margin-left: 9rem; }
  .mainnav ul {
    display: flex; }
    .mainnav ul li {
      margin-left: 8.2rem; }
      .mainnav ul li:first-child {
        margin-left: 0; }
      .mainnav ul li a {
        border-bottom: 2px solid transparent;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
        .mainnav ul li a:hover {
          border-bottom: 2px solid #4db146;
          color: #4db146; }

/* =/header
---------------------------*/
/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/
/* =contacts
---------------------------*/
.contacts {
  color: #5d645d; }
  .contacts a {
    text-decoration: none; }
  .contacts__adr, .contacts__tel, .contacts__mail {
    position: relative; }
    .contacts__adr:before, .contacts__tel:before, .contacts__mail:before {
      left: -50px; }
  .contacts__adr:before {
    background-image: url(../images/sprite.png);
    background-position: 0px -31px;
    width: 27px;
    height: 33px;
    top: -2px; }
  .contacts__tel:before {
    background-image: url(../images/sprite.png);
    background-position: -38px 0px;
    width: 31px;
    height: 30px;
    top: -2px; }
  .contacts__tel span {
    margin-right: 2.5rem; }
    .contacts__tel span:last-child {
      margin-right: 0; }
  .contacts__mail:before {
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    width: 38px;
    height: 31px;
    top: -5px; }

/* =/contacts
---------------------------*/
/* =footer
---------------------------*/
footer {
  border-bottom: 3px solid #4db146;
  padding: 4.5rem 0; }

.footer__right {
  text-align: right;
  flex-grow: 1; }

/* =/footer
---------------------------*/
.justifyleft {
  text-align: left !important; }

.justifyright {
  text-align: right !important; }

.justifycenter {
  text-align: center !important; }

.justifyfull {
  text-align: justify !important; }

img.justifyleft, table.justifyleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px; }

img.justifyright, table.justifyright {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px; }

img.justifycenter, table.justifycenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* =structure
---------------------------*/
.structure__box {
  min-height: 470px;
  width: 890px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .structure__box-hover .structure__center {
    border-color: #4db146 !important; }
  .structure__box > div:not(.structure__center) {
    position: absolute;
    width: 290px;
    height: 200px; }
    .structure__box > div:not(.structure__center) a {
      font-size: 14px;
      font-size: 1.4rem;
      text-decoration: none;
      display: block;
      position: relative;
      z-index: 999;
      height: 100%; }
      .structure__box > div:not(.structure__center) a img, .structure__box > div:not(.structure__center) a p {
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
    .structure__box > div:not(.structure__center):before, .structure__box > div:not(.structure__center):after {
      background: url(../images/plus.png) no-repeat;
      height: 75px;
      width: 106px; }
    .structure__box > div:not(.structure__center):after {
      -webkit-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
      opacity: 0;
      background-position: left -75px; }
    .structure__box > div:not(.structure__center):hover:after {
      opacity: 1; }
    .structure__box > div:not(.structure__center):hover img, .structure__box > div:not(.structure__center):hover p {
      transform: scale(1.2); }
    .structure__box > div:not(.structure__center):hover p {
      padding-top: 1rem; }

.structure__center {
  font-size: 29px;
  font-size: 2.9rem;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  align-items: center;
  background-color: #f5faf5;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #4db146;
  display: flex;
  font-weight: bold;
  height: 258px;
  justify-content: center;
  margin: 155px auto;
  text-align: center;
  width: 258px; }
  .structure__center:hover {
    border-color: #4db146; }

.structure__tl {
  left: 20px;
  top: -96px; }
  .structure__tl a {
    width: 247px;
    padding-right: 100px; }
  .structure__tl:before, .structure__tl:after {
    right: 19px;
    bottom: 71px; }
  .structure__tl p {
    padding-top: 6px;
    text-align: right; }

.structure__tr {
  padding-left: 125px;
  right: 6px;
  text-align: left;
  top: -163px;
  width: 180px; }
  .structure__tr a {
    width: 185px; }
  .structure__tr p {
    padding-top: 9px; }
  .structure__tr:before, .structure__tr:after {
    left: 0;
    bottom: 0; }

.structure__bl {
  left: 20px;
  top: 370px; }
  .structure__bl p {
    text-align: right; }
  .structure__bl a {
    width: 160px; }

.structure__br {
  top: 370px;
  padding-left: 125px;
  right: 0px;
  text-align: left; }

/* =/structure
---------------------------*/
/* =production
---------------------------*/
.production__carousel {
  margin-top: 10rem; }

.production div.owl-nav, .production div.owl-dots {
  position: absolute;
  top: -120px; }

.production div.owl-nav {
  width: 1260px;
  left: 50%;
  margin-left: -630px; }
  .production div.owl-nav .owl-prev,
  .production div.owl-nav .owl-next {
    transition: background .2s ease-out, border-color .2s ease-out;
    background: #fff;
    border: 9px solid #fff; }
    .production div.owl-nav .owl-prev:before,
    .production div.owl-nav .owl-next:before {
      background-image: url(../images/sprite.png);
      background-position: -27px -31px;
      width: 31px;
      height: 21px;
      left: 9px;
      top: 16px; }
    .production div.owl-nav .owl-prev:hover,
    .production div.owl-nav .owl-next:hover {
      border-color: #d6e6d4; }
      .production div.owl-nav .owl-prev:hover:before,
      .production div.owl-nav .owl-next:hover:before {
        background-image: url(../images/sprite.png);
        background-position: -69px 0px;
        width: 31px;
        height: 21px; }
  .production div.owl-nav .owl-prev:before {
    background-image: url(../images/sprite.png);
    background-position: -27px -31px;
    width: 31px;
    height: 21px; }

.production div.owl-dots {
  width: 100%;
  text-align: center; }

.production__item-default {
  display: flex; }

.production__item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }

.production__item:hover .production__item-overlay {
  opacity: 1;
  z-index: 1; }

.production__item-left img {
  vertical-align: top; }

.production__item-right {
  padding-left: 3rem;
  width: 845px;
  text-align: justify; }

.production__item-top {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0; }

.production__item-text {
  font-size: 14px;
  font-size: 1.4rem;
  max-height: 245px;
  overflow: hidden;
  text-overflow: ellipsis; }

.production__item-link {
  align-items: center;
  background-color: #fff;
  border-radius: 2.9rem;
  color: #4db146;
  display: flex;
  height: 5.8rem;
  padding: 0 2.5rem;
  position: relative;
  text-decoration: none;
  transition: background-color .2s ease-out, color .2s ease-out;
  z-index: 9999; }
  .production__item-link:hover {
    background-color: #4db146;
    color: #fff; }

/* =production
---------------------------*/
/* =clients
---------------------------*/
.clients {
  font-size: 14px;
  font-size: 1.4rem;
  position: relative; }
  .clients .addmsg {
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    background-color: #4db146;
    border: none;
    color: #fff;
    display: block;
    height: 5.8rem;
    border-radius: 5.8rem;
    cursor: pointer;
    margin: 4.5rem auto 0;
    padding: 0 4rem;
    text-transform: uppercase; }
    .clients .addmsg:hover {
      background-color: #389931; }
  .clients__pic {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center; }
  .clients .text {
    padding-left: 10rem;
    padding-right: 10rem; }
  .clients__carousel {
    margin-top: 6.5rem; }

.clients__carousel:before, .clients__carousel:after,
.news__carousel:before,
.news__carousel:after {
  height: 100%;
  width: 410px;
  top: -50px;
  z-index: 2; }

.clients__carousel:before,
.news__carousel:before {
  left: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2FFFFFF', endColorstr='#00FFFFFF', GradientType=1); }

.clients__carousel:after,
.news__carousel:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#F2FFFFFF', GradientType=1); }

.clients__carousel img,
.news__carousel img {
  max-width: 100%; }

/* =/clients
---------------------------*/
/* =news
---------------------------*/
.news {
  padding-bottom: 5.8rem; }
  .news__carousel .owl-nav {
    top: 178px; }
  .news__link {
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .news__link:hover {
      border-color: #4db146;
      color: #4db146; }
      .news__link:hover .news__datetime {
        color: #4db146; }
        .news__link:hover .news__datetime time:before {
          filter: grayscale(0); }
      .news__link:hover .news__pic:after {
        opacity: 1; }
      .news__link:hover .news__pic:before {
        transform: scale(1);
        opacity: 1; }
  .news__pic {
    position: relative; }
    .news__pic img {
      border-radius: 10px 10px 0 0;
      vertical-align: top; }
    .news__pic:before {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      background: #4db146;
      border-radius: 55px;
      color: #fff;
      content: "ПОДРОБНЕЙ";
      height: 55px;
      left: 50%;
      margin-left: -87.5px;
      margin-top: -26px;
      padding: 1.8rem 4rem;
      text-align: center;
      top: 0;
      top: 50%;
      width: 175px;
      z-index: 999;
      opacity: 0;
      transform: scale(1.25); }
    .news__pic:after {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      border-radius: 10px 10px 0 0;
      background: rgba(255, 255, 255, 0.63);
      z-index: 99;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0; }
  .news__desc {
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 2.7rem 0 3rem;
    text-align: center; }
    .news__desc hr {
      width: 42px;
      border: none;
      border-top: 3px solid #4db146;
      background: none; }
  .news__title {
    font-size: 16px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 2.5rem;
    min-height: 7rem; }
  .news__datetime {
    font-size: 12px;
    font-size: 1.2rem;
    color: #9eaa9c;
    display: flex;
    justify-content: center; }
    .news__datetime time {
      padding-left: 25px;
      position: relative; }
      .news__datetime time:before {
        background-image: url(../images/sprite.png);
        background-position: -69px -21px;
        width: 15px;
        height: 15px;
        left: 0;
        top: 1px; }

/* =/news
---------------------------*/
#map {
  height: 600px;
  width: 100%; }

.modal-email {
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #f5faf5;
  border: 3px solid #4db146;
  bottom: 16.5rem;
  display: none;
  left: 50%;
  margin-left: -270px;
  padding: 5.6rem 2rem 3.3rem;
  position: absolute;
  width: 535px;
  z-index: 9999; }
  .modal-email:after {
    width: 27px;
    height: 15px;
    background: url(../images/form-arrow.png) no-repeat center center;
    bottom: -15px;
    left: 50%;
    margin-left: -14px; }
  .modal-email form {
    padding-top: .5rem; }
  .modal-email .modal-title {
    font-size: 24px;
    font-size: 2.4rem;
    color: #4db146;
    font-weight: normal;
    text-align: center; }
  .modal-email .form-control {
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid #fff;
    color: #000;
    height: 5rem;
    margin-top: 2.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    transition: border-color .2s;
    width: 100%; }
    .modal-email .form-control:focus, .modal-email .form-control:active {
      border-color: #4db146; }
    .modal-email .form-control.error {
      border-color: red; }
  .modal-email textarea.form-control {
    height: 17rem;
    padding-top: 1rem;
    resize: none; }
  .modal-email .btn {
    margin-top: 3rem;
    width: 24rem; }

.modal-thank {
  width: 668px;
  margin-left: -334px; }

.thank {
  text-align: center;
  padding: 2rem 0 4rem;
  font-size: 20px;
  font-size: 2rem; }

button.close {
  background-image: url(../images/sprite.png);
  background-position: -69px -36px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 17px;
  top: 19px;
  cursor: pointer; }
  button.close:hover {
    background-image: url(../images/sprite.png);
    background-position: -84px -21px;
    width: 15px;
    height: 15px; }

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(44, 59, 43, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1000; }

.btn {
  height: 57px;
  border-radius: 57px;
  font-size: 18px;
  font-size: 1.8rem;
  background-color: #4db146;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding: 1.6rem 3.5rem;
  text-transform: uppercase;
  transition: opacity .2s; }
  .btn:hover {
    opacity: .9; }

label.error {
  display: none !important; }

/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
@media (max-width: 767px) {
  .navbar-toggle {
    background-color: green;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
    .navbar-toggle .icon-bar {
      background-color: #fff;
      display: block;
      height: 2px;
      margin: 8px auto;
      width: 30px; }
    .navbar-toggle:hover {
      background-color: #fff; }
      .navbar-toggle:hover .icon-bar {
        background-color: green; }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0); }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 9999; }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: green;
    border: none;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
  #navbar {
    transition: all .2s ease-out;
    background-color: green;
    color: green;
    display: block;
    left: 0;
    padding-top: 15px;
    position: absolute;
    top: 0;
    transform: translate(-305px, 0);
    width: 230px; }
    #navbar .container {
      padding: 0; }
    #navbar ul.mainnav {
      background: none;
      display: block;
      font-size: 15px;
      margin-top: 0;
      padding-left: 15px; }
      #navbar ul.mainnav ul {
        position: static;
        opacity: 1;
        background: none;
        font-size: 14px !important; }
        #navbar ul.mainnav ul li:after {
          top: 12px; }
      #navbar ul.mainnav > li.folder > a:after,
      #navbar ul.mainnav > li.folder > span:after {
        top: 24px !important; }
      #navbar ul.mainnav > li.active > a {
        text-decoration: underline; }
      #navbar ul.mainnav li {
        border-bottom: 1px solid #fff; }
        #navbar ul.mainnav li a, #navbar ul.mainnav li span {
          color: #fff;
          display: block;
          height: auto;
          line-height: normal;
          padding: 18px 0 18px 10px;
          text-decoration: none;
          text-transform: none; }
          #navbar ul.mainnav li a:hover, #navbar ul.mainnav li span:hover {
            color: #fff;
            text-decoration: underline; }
        #navbar ul.mainnav li.active, #navbar ul.mainnav li:hover {
          border-bottom: 1px solid #fff;
          color: #fff; }
          #navbar ul.mainnav li.active a, #navbar ul.mainnav li.active span, #navbar ul.mainnav li:hover a, #navbar ul.mainnav li:hover span {
            background: none; }
        #navbar ul.mainnav li.folder > a,
        #navbar ul.mainnav li.folder > span {
          position: relative; }
          #navbar ul.mainnav li.folder > a:after,
          #navbar ul.mainnav li.folder > span:after {
            background: url(../images/arrow.png) no-repeat left bottom;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            right: 10px;
            top: 9px;
            width: 8px; }
        #navbar ul.mainnav li.folder ul.show {
          display: block; }
        #navbar ul.mainnav li.folder.open > a:after,
        #navbar ul.mainnav li.folder.open > span:after {
          background-position: left top;
          width: 12px;
          height: 8px; }
        #navbar ul.mainnav li.folder .folder {
          padding-left: .5rem;
          padding-right: 0; }
          #navbar ul.mainnav li.folder .folder > a:after,
          #navbar ul.mainnav li.folder .folder > span:after {
            display: none; }
          #navbar ul.mainnav li.folder .folder li ul li {
            position: relative; }
            #navbar ul.mainnav li.folder .folder li ul li a:before {
              content: "-";
              z-index: 10;
              position: absolute;
              left: 4px;
              top: 8px; }
          #navbar ul.mainnav li.folder .folder li ul.folder > ul {
            display: none !important; }
        #navbar ul.mainnav li.active a:hover {
          color: #fff; }
        #navbar ul.mainnav li.active > ul {
          display: block; }
          #navbar ul.mainnav li.active > ul .active .active a {
            font-weight: bold;
            text-decoration: underline; }
        #navbar ul.mainnav li ul {
          display: none;
          font-size: 12px;
          width: auto !important;
          border-top: none; }
          #navbar ul.mainnav li ul li {
            border-bottom: none;
            padding-left: 7px; }
            #navbar ul.mainnav li ul li a, #navbar ul.mainnav li ul li span {
              padding: 10px 0 10px 10px; }
            #navbar ul.mainnav li ul li.active, #navbar ul.mainnav li ul li:hover {
              border-bottom: none;
              color: green; }
            #navbar ul.mainnav li ul li ul {
              padding-top: 0; }
              #navbar ul.mainnav li ul li ul li {
                padding-right: 0; }
                #navbar ul.mainnav li ul li ul li:hover {
                  background: none; }
                #navbar ul.mainnav li ul li ul li.folder.active > a {
                  text-decoration: underline; }
                #navbar ul.mainnav li ul li ul li ul li.active a {
                  text-decoration: underline; } }

::-ms-clear {
  display: none; }
